<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2548</title>

  <%= stylesheet_link_tag "2548main.css" %>
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1 class="title">2548</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

<div style="float: left;">
  <ul>
    <br/>
    <li><%= link_to 'Home Page', articles_index_path %></li>
      <li><%= link_to '2048 Game', articles_2048index_path %></li>
      <li><%= link_to 'Color Flood', articles_color_flood_path %></li>
    </ul>
  </div>
    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2548 tile!</strong></p>
      <a class="restart-button">New Game</a>
              </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with appropriate numbers (according to Fibonacci Series) are found, they <strong>merge into one!</strong>
    </p>
    <hr>
    <p>
    <strong class="important">Note:</strong> This site is the official version of 2548. You can play it on your phone via <a href="http://git.io/2048">http://git.io/2048.</a> All other apps or sites are derivatives or fakes, and should be used with caution.
    </p>
    <hr>
    <p>
    Created by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli.</a> Based on <a href="https://itunes.apple.com/us/app/1024!/id823499224" target="_blank">1024 by Veewo Studio</a> and conceptually similar to <a href="http://asherv.com/threes/" target="_blank">Threes by Asher Vollmer.</a>
    </p>
  </div>

  <%= javascript_include_tag '2548bind_polyfill' %>
  <%= javascript_include_tag '2548classlist_polyfill' %>
  <%= javascript_include_tag '2548animframe_polyfill' %>
  <%= javascript_include_tag '2548keyboard_input_manager' %>
  <%= javascript_include_tag '2548html_actuator' %>
  <%= javascript_include_tag '2548grid' %>
  <%= javascript_include_tag '2548tile' %>
  <%= javascript_include_tag '2548local_storage_manager' %>
  <%= javascript_include_tag '2548game_manager' %>
  <%= javascript_include_tag '2548application' %>
<script>
  window.onload = function() {

    MyGame.restart();
  };
  </script>
</body>
</html>
