<!DOCTYPE html>
<html>
<head>
<title>Sakshi Agarwal</title>

<link type="text/css" rel="stylesheet" href="index.css">
</head>

<body>

<div class="myHeader">
<img src="http://1.bp.blogspot.com/-bFOPew8lLRg/VfkCnabxv3I/AAAAAAAAAgE/abVFhBoVxFQ/s1600/Sakshi-designstyle-colors-m%2B%25281%2529.png">
<ul>
	<!--<div class="container">
		<div class="dropdown">
	<ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</div>-->
	<li><%= link_to 'Blog', controller: 'blogs' %></li>
<li><%= link_to 'Prove Mathematically', articles_prove_path %></li>
<li><%= link_to '2048 Game', articles_2048index_path %></li>
<li><%= link_to '2548 Game', articles_2548index_path %></li>
<li><%= link_to 'Color Flood', articles_color_flood_path %></li>
</ul>

	</div>

	<div id="nav">
		<ul>
          <br/>  <br/> <br/><br/>

<li><%= link_to 'About Us', articles_contactme_path %></li>
<br/>
<li><%= link_to 'Our Academics', articles_academics_path %></li><br/>

<li><%= link_to 'Contact Us', new_contact_path %></li><br/>
		</ul>
</div>

	<div id="section">
        <br/><br/><br/>
<br/>
<img style = " width: 300px; hight: 300px;" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10983395_703176283125264_1859198479646304147_n.jpg?oh=dab61cad5a3aba925a3c801d0025fe8d&oe=56613522&__gda__=1452761259_747531dfb26652ae9c37189f2f8412ba"></img>
<p style= "width:900px; left: 225px;">  <br/>Hey, This is Sakshi Agarwal. I'm from Uttar Pradesh. I've completed my B.tech in Computer Science & Information Technology from MJP Rohilkhand University, Bareilly and now I'm working with awesome people in Cybrilla Technologies. I love to work here.. :) <br/><br/>Hey, This is Sakshi Agarwal. I'm from Uttar Pradesh. I've completed my B.tech in Computer Science & Information Technology from MJP Rohilkhand University, Bareilly and now I'm working with awesome people in Cybrilla Technologies. I love to work here.. :)
<br/><br/>
Hey, This is Sakshi Agarwal. I'm from Uttar Pradesh. I've completed my B.tech in Computer Science & Information Technology from MJP Rohilkhand University, Bareilly and now I'm working with awesome people in Cybrilla Technologies. I love to work here.. :) </p>
</div>


<div id = "rightnav">
    <br/>
    <br/><br/><br/>
<p><strong>Projects:</strong></p>
<ul>
	<li><strong><%= link_to 'Blog', controller: 'blogs' %></strong></li>
	<br/>
<li><strong><%= link_to 'Prove Mathematically', articles_prove_path %></strong></li>
<br/>
<li><strong><%= link_to '2048 Game', articles_2048index_path %></strong></li>
<br/>
<li><strong><%= link_to '2548 Game', articles_2548index_path %></strong></li><br/>
<li><strong><%= link_to 'Color Flood', articles_color_flood_path %></strong></li><br/>
<br/>
</ul>
</div>

<div id="footer">
Copyright © sakshi
</div>

</body>
</html>
